# Environments & Secrets
.env
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/

# Docker & Persistence
*.log
pgdata/
kafka_data/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
